body {
    background: yellow;
    height: 100%;
    margin: 0;
}

div#container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

div#content {
    width: 100%;
    min-height: 90%;
    background-color: beige;
    float: left;
}

div#platform {
    width: 80%;
    height: 10%;
    margin: 0;
    background-color: #000000;
    float: left;
    color: white;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

input#bott {
    width: 20%;
    height: 10%;
    margin: 0;
    background-color: #440000;
    float: left;
    color: white;
    font-size: 20px;
    font-weight: 600;
    
}